  <ion-app >
    <ion-content fullscreen class="ion-padding" scroll-y="false">
      <ion-slides  pager = 'true' >

        <ion-slide>
          <div class="slide">
            <h1>Welcome to Home-Budget</h1>
            <img src="../../assets/icon/logo.jpg"/>
            
            <p>The <b>Home-Budget app</b> keeps track of balances between family</p>
          </div>
        </ion-slide>

        <ion-slide>
          <div class="img1">
          <img  src="../../assets/icon/img.jpg"/>
        </div>
              </ion-slide>

        

        <ion-slide>
          <img src="../../assets/icon/logo.jpg"/>
          <h2>Let's  Started</h2>
          <ion-button fill="clear" (click)="continue()">Continue <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
        </ion-slide>

      </ion-slides>
    </ion-content>
  </ion-app>


