
<ion-header [translucent]="true">
  <ion-toolbar color="success">
    
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-title>Change Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <div align="center">
        <div align="center">	
      <img align-items="center" style="width: 50%;height: 50%;" src="../../assets/icon/logo.jpg">
    </div>
    </div>
    <ion-list>
      <ion-item>
        <ion-label position="floating" name="Mobile No."   >Mobile No.*</ion-label>
        <ion-input  [(ngModel)]="number" type="text"></ion-input>
      </ion-item> 
      <ion-item>
        <ion-label position="floating" name="username"   >password*</ion-label>
        <ion-input  [(ngModel)]="password" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating" name="username"   >confirm password*</ion-label>
        <ion-input  [(ngModel)]=" confirm_pass" type="text"></ion-input>
      </ion-item>
    
            
            

    </ion-list>
      </ion-content>

      <ion-footer>
        <ion-toolbar transparent>
          <ion-button color="success" (click)="setPassword()" expand="block">Set Password</ion-button><br>

        </ion-toolbar>
      </ion-footer>
      