<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>forgotPassword</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div align="center">
    <div align="center">	
  <img align-items="center" style="width: 75%;height: 75%;" src="../../assets/icon/logo.jpg">
</div>
</div>
        
<ion-item>
  <ion-label  position="floating">Username /mobile no. /E-mail*</ion-label>
  <ion-input  type="text"></ion-input>
</ion-item>

</ion-content>

<ion-footer>
	<ion-toolbar transparent>
    <ion-button color="success" expand="block" (click)="proceed()">Reset Password</ion-button><br>
	</ion-toolbar>
</ion-footer>

