
.date{
text-align: center;

margin-left: 120px;
margin-right: 70px;
display: block !important;

}
.center{
    
        margin-left: 70px;
        margin-right: 70px;
        display: block !important;
      
}

.scroll {
    overflow: auto;
  }
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
    